
@import './common/_include';

body {
  font-family: 'Roboto', sans-serif;
  color: #3a3f52;
}

h2 {
  font-size: 44px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

h5 {
  font-size: 16px;
}

p {
  font-weight: 400;
  letter-spacing: .05em;
  color: #53627C;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

b {
  font-weight: 700;
}

section {
  padding: 100px 0px;
}

.title-block {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
}

.title-block p {
  font-size: 20px;
  font-weight: 300;
  color: #8da2b5;
  margin-bottom: 0px;
}

.divider {
  padding: 2rem 0 0;
  margin: 2rem 0 0;
  border-top: 1px solid #3c3f45;
}

.divider-light {
  padding: 2rem 0 0;
  margin: 2rem 0 0;
  border-top: 1px solid #edf1f2
}

.color-primary {
  color: #0095f7;
}

.bg-primary {
  background-color: #0095f7;
}

input {
  &.form-control {
    width: 100%;
    height: 35px;
    padding: 2px 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    color: #555;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);

    &::placeholder {
      font-weight: 400;
    }

    &:focus {
      outline: none;
      color: #555;
      border-color: #66afe9;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    }
  }

  &.error {
    border: 1px solid red !important;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

/* Buttons */

.btn {
  font-size: 14px;
  font-weight: 400;
  border-radius: 3px!important;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.08);
}

.btn:hover {
  text-decoration: none;
}

.btn-regular {
  background-color: #0095f7;
  color: #ffffff;
  padding: 10px 25px;
  letter-spacing: .1em;
  margin-top: 25px;
  display: inline-block;
}

.btn-regular:hover {
  background-color: #0191f0;
  color: #ffffff;
}

.btn-buy {
  color: #ffffff;
  background-color: #0095f7;
  letter-spacing: .1em;
  padding: 15px 48px;
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.btn-buy:hover {
  background-color: #0191f0;
  color: #ffffff;
}


/* Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  h2 {
    font-size: 34px!important;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  .title-block h2 {
    text-align: left;
    padding: 0px 20px;
  }
}
