<section id="contact">
  <!-- C O M P A N Y -->
  <section id="company">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <span>Organizational Consulting</span>
            <h2>For companies</h2>
            <p>Advising and guiding companies to enhance employee experiences, streamline HR processes, and foster inclusive, transformative cultures, with a focus on integrating digital solutions for efficiency and engagement.</p>
            <a href="contact" class="btn btn-regular">Start Your Journey</a>
          </div>
        </div>
        <div class="col-md-7">
            <img src="assets/images/company-planing.jpeg" class="img-fluid" alt="Demo image">
            <!-- <img src="assets/images/company-planing.jpeg" class="img-fluid" alt="Demo image"> -->
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  C O M P A N Y -->

  <!-- E M P L O Y E E -->
  <section id="employee">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="assets/images/demo-image.png" class="img-fluid" alt="Demo image">
          <!-- <img src="assets/images/company-planing.jpeg" class="img-fluid" alt="Demo image"> -->
        </div>
        <div class="col-md-5">
          <div class="content-box">
            <span>Mindset and Personal Growth Guidance + Career Advice and Development</span>
            <h2>For individuals</h2>
            <p>Offering strategies and mentoring to facilitate mindset shifts, build resilience, and support personal growth.
              Providing personalized advice and guidance to help individuals navigate their career paths and achieve professional goals.
            </p>
            <a href="contact" class="btn btn-regular">Start Your Journey</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  E M P L O Y E E -->
</section>