<div class="container">
  <div class="card">
    <div class="card-title">
      <h4><b>The first article on this blog</b></h4>
      <p>By <a href="#">Ana-Maria Tuca</a></p>
    </div>
    <img src="assets/images/company-planing.jpeg" alt="Avatar" style="width:100%">
    <div class="card-preview">
      <div [innerHtml]="message"></div>
    </div>
    <div>
      <a href="blog"><i class="icon ion-md-arrow-round-back"></i> Back on the blog</a>
    </div>
    <div class="footer">
      <p><i class="icon ion-md-folder"></i> Sales</p>
      <p><i class="icon ion-md-link"></i> improving, lifestyle</p>
    </div>
  </div>
</div>