<!-- A B O U T -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 divi">
        <img src="assets/images/profile-big.png" alt=""class="img-fluid" alt="Demo image">
        <!-- <img src="assets/images/company-planing.jpeg" class="img-fluid" alt="Demo image"> -->
      </div>

      <div class="col-md-1 vertical-divider"></div>
      
      <div class="col-md-5">
        <div class="content-box">
          <h2>Antonia Kiriakokou</h2>
          <p class="subtitle">Senior HR Generalist</p>
          <p class="details first-elem"> &nbsp;&nbsp;&nbsp;&nbsp; I specialize in guiding individuals through personal and professional challenges.</p>
          <p class="details">For individuals, I provide tailored advice, mentoring, and mindset coaching to overcome obstacles and achieve personal growth.</p>
          <p class="details">For companies, I offer strategic consulting to enhance employee experiences, streamline HR processes, and foster inclusive, values-driven cultures.</p>
          <p class="details">Together, we drive positive transformation and empower both individuals and organizations to thrive.</p>
          <a href="contact" class="btn btn-regular">Contact Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- E N D  A B O U T -->