<div class="container">
  <div class="card">
    <div class="card-title">
      <h4><b>The first article on this blog</b></h4>
      <p>By <a href="#">Ana-Maria Tuca</a></p>
    </div>
    <img src="assets/images/company-planing.jpeg" alt="Avatar" style="width:100%">
    <div class="card-preview">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt vulputate metus non blandit. Donec luctus dapibus ornare. Duis sit amet odio eget nisl venenatis placerat eget eget diam. Maecenas mattis blandit mauris, id molestie felis posuere quis. Maecenas varius blandit consequat. Donec tincidunt dictum felis id egestas. Phasellus lorem turpis, vehicula quis enim vitae, commodo porta purus. Donec at pharetra lorem.

        Quisque faucibus dolor nec felis euismod scelerisque. Maecenas sit amet auctor purus. Fusce imperdiet mattis egestas. Duis justo sapien, scelerisque quis ante vel, rutrum vehicula dui. Proin eget leo eu est vestibulum viverra. Etiam arcu tortor, convallis ac scelerisque nec, condimentum sed velit. Quisque posuere eros nulla, rhoncus tristique erat pellentesque a. Fusce at ipsum nibh. Maecenas aliquam, est nec consectetur auctor, urna tellus pulvinar urna, at ornare augue ipsum ac quam. Praesent libero enim, imperdiet vitae metus non, porttitor bibendum dolor. Vestibulum tincidunt purus dolor, ut dignissim dolor pulvinar sed.</p>
    </div>
    <div>
      <a href="contact" class="btn btn-regular">Continue reading</a>
    </div>
    <div>
      <p>Sales</p>
      <p>improving, lifestyle</p>
    </div>
  </div>
</div>