<!-- P R I C I N G -->
<section id="pricing">
  <div class="container">
    <div class="title-block">
      <h2>Plans and Pricing</h2>
      <p>The best plan to get personalized advice and guidance to help you navigate your career path and achieve professional goals.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="pricing-box">
          <h3>Individual Consulting</h3>
          <h6>€60 - €100</h6>
          <small>per hour</small>
          <p>For personalized career advice and development</p>
          <div class="divider-light"></div>
          <ul>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Individual Coaching Sessions</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Personal Growth Guidance</li>
          </ul>
          <div class="text-center">
            <a href="contact" class="btn btn-buy">Select now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pricing-box">
          <h3>Organizational Consulting</h3>
          <h6>Custom</h6>
          <small>per entire period</small>
          <p>Tailored HR consulting services focus on identifying change opportunities in people, processes, and structure to align with business goals. </p>
          <!-- <p>Expertise includes enhancing management and employee relations, improving organizational culture, and leveraging technology to boost efficiency. <br/>
            Additionally, support is provided for cross-functional initiatives, offering insights on people-related matters.</p> -->
          <div class="divider-light"></div>
          <!-- <ul>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Consulting plan</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Digital resources</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Pricing based on project scope and complexity</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Focus on digitalization strategies - <span>New!</span></li>
          </ul> -->
          <ul>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Enhancing management and employee relations</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Improving organizational culture</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Leveraging technology to boost efficiency</li>
            <li><i class="icon ion-md-checkmark-circle-outline"></i>Support for cross-functional initiatives, offering insights on people-related matters - <span>New!</span></li>
          </ul>
          <div class="text-center">
            <a href="contact" class="btn btn-buy">Select now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- E N D  P R I C I N G -->