
  <!-- H E R O -->
  <section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <img src="assets/images/iphone.png" class="img-fluid" alt="Demo image">
        </div>
        <div class="col-md-7 content-box hero-content">
          <span>Career Advice and Development</span>
          <h1>Digital Innovation and the <b>Future of Consulting</b></h1>
          <p>Facilitate mindset shifts, build resilience, and support personal growth</p>
          <a href="#" class="btn btn-regular">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  H E R O -->

  <!-- C O M P A N Y -->
  <section id="company">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="content-box">
            <span>Organizational Consulting</span>
            <h2>For companies</h2>
            <p>Advising and guiding companies to enhance employee experiences, streamline HR processes, and foster inclusive, transformative cultures, with a focus on integrating digital solutions for efficiency and engagement.</p>
            <a href="contact" class="btn btn-regular">Start Your Journey</a>
          </div>
        </div>
        <div class="col-md-7">
            <img src="assets/images/company-planing.jpeg" class="img-fluid" alt="Demo image">
            <!-- <img src="assets/images/company-planing.jpeg" class="img-fluid" alt="Demo image"> -->
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  C O M P A N Y -->

  <!-- E M P L O Y E E -->
  <section id="employee">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="assets/images/demo-image.png" class="img-fluid" alt="Demo image">
          <!-- <img src="assets/images/company-planing.jpeg" class="img-fluid" alt="Demo image"> -->
        </div>
        <div class="col-md-5">
          <div class="content-box">
            <span>Mindset and Personal Growth Guidance + Career Advice and Development</span>
            <h2>For individuals</h2>
            <p>Offering strategies and mentoring to facilitate mindset shifts, build resilience, and support personal growth.
              Providing personalized advice and guidance to help individuals navigate their career paths and achieve professional goals.
            </p>
            <a href="contact" class="btn btn-regular">Start Your Journey</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  E M P L O Y E E -->

  <!-- T E S T I M O N I A L S -->
  <section id="testimonials">
    <div class="container">
      <div class="title-block">
        <h2>What Recomend Us</h2>
        <p>Industry expert with excellent results achieved in years of practicing</p>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="testimonial-box">
            <div class="row personal-info">
              <div class="col-md-1 col-xs-4">
                <div class="profile-picture review-one"></div>
              </div>
              <div class="col-md-7 col-xs-7">
                <h6>Țuca Ana Maria <span class="rating">5 <i class="icon ion-md-star"></i></span></h6>
                <small>HR Generalist</small>
              </div>
            </div>
            <p> &nbsp;&nbsp;&nbsp;&nbsp; As an <b>HR Generalist with 22 years of international experience</b>, I specialize in guiding individuals through personal and professional challenges.
              For individuals, I provide tailored advice, mentoring, and mindset coaching to overcome obstacles and achieve personal growth.
              For companies, I offer strategic consulting to enhance employee experiences, streamline HR processes, and foster inclusive, values-driven cultures.
              Together, we drive positive transformation and empower both individuals and organizations to thrive.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  T E S T I M O N I A L S -->

  <!-- P R I C I N G -->
  <section id="pricing">
    <div class="container">
      <div class="title-block">
        <h2>Plans and Pricing</h2>
        <p>The best plan to get personalized advice and guidance to help you navigate your career path and achieve professional goals.</p>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Individual Coaching Sessions</h3>
            <h6>€100 - €200</h6>
            <small>per hour</small>
            <p>For personalized career advice and development</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Consulting plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Digital resources</li>
            </ul>
            <div class="text-center">
              <a href="contact" class="btn btn-buy">Select now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Personal Growth Guidance</h3>
            <h6>€500 - €2000</h6>
            <small>per entire period</small>
            <p>For personalized career advice and development</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Consulting plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Digital resources</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Personal guidance for career change</li>
            </ul>
            <div class="text-center">
              <a href="contact" class="btn btn-buy">Select now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="pricing-box">
            <h3>Organizational Consulting Version</h3>
            <h6>Custom</h6>
            <small>per entire period</small>
            <p>For agencies and businesses with extensive web presence</p>
            <div class="divider-light"></div>
            <ul>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Consulting plan</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Digital resources</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Pricing based on project scope and complexity</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Competitive analysis</li>
              <li><i class="icon ion-md-checkmark-circle-outline"></i>Focus on digitalization strategies - <span>New!</span></li>
            </ul>
            <div class="text-center">
              <a href="contact" class="btn btn-buy">Select now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- E N D  P R I C I N G -->

  <!-- C A L L  T O  A C T I O N -->
  <section id="call-to-action">
    <div class="container text-center">
      <h2>Boost your career now</h2>
      <div class="title-block">
        <p>If you are a professional in mid-career transitions or an individual seeking personal growth
          or an organization looking to improve employee experiences and drive cultural transformation</p>
        <a href="contact" class="btn btn-regular">Get Started</a>
      </div>
    </div>
  </section>
  <!-- E N D  C A L L  T O  A C T I O N -->
